:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --miso-content-min-height: 230px;

  --tanita-light-blue: rgb(203, 239, 251);
  --tanita-light-green: rgb(192, 231, 170);
  --tanita-light-pink: rgb(252, 204, 228);
  --tanita-light-yellow: rgb(254, 243, 164);
  --tanita-light-red: rgb(251, 204, 188);
  --tanita-light-gray: rgb(233, 233, 233);

  --physique-rating-offset-x: 220px;
  --physique-rating-multiple-x: 30.5px;
  --physique-rating-offset-y: 147px;
  --physique-rating-multiple-y: 18px;
}

.auto-loading {
  display: none;
}

div:first-child.auto-loading {
  display: block;
}

.logo {
  text-align: center;
  display: flex;
  width: 9cm;
  height: 4cm;
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-left: 1cm;
  padding-right: 1cm;
}

.progress-bar-black-striped {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.75) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.h-container {
  display: flex;
  flex-direction: row;
}

.v-container {
  display: flex;
  flex-direction: column;
}

.gap-0 { gap: 0px; }
.gap-1px { gap: 1px; }
.gap-1 { gap: 4px; }
.gap-2 { gap: 8px; }
.gap-3 { gap: 12px; }
.gap-4 { gap: 16px; }
.gap-5 { gap: 20px; }
.gap-6 { gap: 24px; }
.gap-7 { gap: 28px; }
.gap-8 { gap: 32px; }
.gap-9 { gap: 36px; }
.gap-10 { gap: 40px; }

.container .card {
  margin-bottom: 10px;
}

.container .card:last-child {
  margin-bottom: 0px;
}

.form-container {
  padding: 40px;
  background: var(--secondary);
}

.form-item {
  margin-top: 20px;
}

.form-item:first-child {
  margin-top: 0px;
}

.title-banner {
  background: var(--secondary);
  color: var(--light);
  position: relative;
}

.title-right-stamp {
  position: absolute;
  right: 10px;
}

.card-item-row {
  display: flex;
  align-items: center;
}

.card-item-row span {
  margin-right: 5px;
}

.card-item-row span:last-child {
  margin-right: 0px;
}

.card-body div {
  margin-bottom: 10px;
}

.card-body div:last-child {
  margin-bottom: 0px;
}


/***  Badge Header Group  ***/
.badge-header-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 50px;
}

.badge-header-group:last-child {
  margin-bottom: 0px;
}

.form-row.flex-column .badge-header-group {
  margin-bottom: 0px;
  margin-right: 5px;
}

.badge-header-group:last-child {
  margin-bottom: 0px;
}

.badge-union {
  position: relative;
  top: calc(-1px);
  border-top-left-radius: 0;
  border-radius: 0 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
}

input.badge-union {
  height: 24px;
  background-color: var(--light);
  font-size: 0.8rem;
}

select.badge-union {
  height: 24px;
  background-color: var(--light);
  font-size: 0.8rem;
}

textarea.badge-union {
  height: fit-content;
}

.label-badge {
  width: fit-content;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;

  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/***  Tanita Body Chart  ***/
.tanita-body-chart {
  position: relative;
  width: fit-content;
}

.tanita-body-chart div {
  position: absolute;
}

.tanita-body-chart .tanita-body-chart-trunk {
  top: 50px;
  left: 180px;
}

.tanita-body-chart .tanita-body-chart-r-arm {
  top: 140px;
  left: 310px;
}

.tanita-body-chart .tanita-body-chart-l-arm {
  top: 140px;
  left: 50px;
}

.tanita-body-chart .tanita-body-chart-r-leg {
  top: 260px;
  left: 310px;
}

.tanita-body-chart .tanita-body-chart-l-leg {
  top: 260px;
  left: 50px;
}


/***  Basic Style  ***/
.round-corner {
  border-radius: 25px;
}

.reserve-footer {
  min-height: 50px;
  max-height: 50px;
}


/***  Direct Overwrite  ***/
.table {
  margin-bottom: 0px;
}

.table td {
  vertical-align: middle;
}


/***  Dynamic Container  ***/
.container-flex-1024 {
  display: flex;
  flex-direction: column;
}

.v-container {
  display: flex;
  flex-direction: column;
}

.h-container {
  display: flex;
  flex-direction: row;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/*** Barcode ***/
.barcode-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}

.barcode-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.barcode-input-container {
  position: absolute;
  width: calc(100vw - 64px);
  max-width: 768px;
  overflow: auto;
  /* width: 100vw;
  height: 100vh; */
  transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.barcode-input-box {
  height: fit-content;
  /* width: fit-content; */
  width: 100%;
  overflow: visible;
  border-radius: 0.25rem;
  /* background-color: var(--dark); */
  background-color: black;
  opacity: 1;
  gap: 2px;
  white-space: nowrap;
  padding: 20px;
}

.barcode-label {
  color: var(--light);
}

.barcode-input {
  flex-grow: 1;
}

.barcode-error {
  color: var(--danger)
}

.barcode-active-button {
  position: fixed;
  top: 0;
  transform: translateX(calc(50vw - 50%));
  width: fit-content;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: black;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.page-header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

/***  Report data row  ***/
.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay-progress-box {
  border-radius: 0.25rem;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.overlay-progress-bar {
  width: 100%;
  max-width: 300px;
  min-width:250px;
  height: 15px;
  border-radius: 0.25rem;
  border: black 2px solid;
  opacity: 1;
}

.overlay-progress-text {
  color: gray;
  opacity: 1;
  font-weight: 700;
}

.footer-copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@element body and (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@element body and (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@element body and (min-width: 992px) {
  
  .container-flex-1024 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container-flex-1024 div {
    margin-top: 0px;
    margin-right: 10px;
  }

  .container-flex-1024 div:last-child {
    margin-right: 0px;
  }

  .container {
    max-width: 960px !important;
  }
}

@element body and (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media print {
  .container-flex-1024 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container-flex-1024 div {
    margin-top: 0px;
    margin-right: 10px;
  }

  .container-flex-1024 div:last-child {
    margin-right: 0px;
  }

  footer {
    display: none;
  }
}