:root{
  --bg:#0f172a;
  --panel:#0b1220;
  --accent:#38bdf8;
  --muted:#94a3b8;
}
*{
  box-sizing:border-box;
}
html,body{
  height:100%;
  margin:0;
  font-family:Inter,ui-sans-serif,system-ui,Arial;
  background:var(--bg);
  color:#e6eef8;
}
.app{
  display:grid;
  grid-template-columns: 400px 1fr;
  height:100vh;
  gap:12px;
  padding:12px;
}
.left-col{
  display:flex;
  flex-direction:column;
  gap:8px;
}
.canvas-wrap{
  background:#071028;
  border-radius:8px;
  padding:8px;
  position:relative;
  overflow:hidden;
}
canvas{
  background:linear-gradient(180deg, rgba(255,255,255,0.02), transparent);
  display:block;
  border-radius:6px;
  width:100%;
  height:100%;
}
.toolbar{
  display:flex;
  justify-content:space-between;
  gap:8px;
}
.tools-left, .tools-right{
  display:flex;
  gap:8px;
  align-items:center;
}
button{
  background:transparent;
  border:1px solid rgba(255,255,255,0.06);
  padding:8px 10px;
  border-radius:6px;
  color:var(--muted);
  cursor:pointer;
}
button.active{
  border-color:var(--accent);
  color:var(--accent);
}
.panel{
  background:linear-gradient(180deg,#071427,#06101f);
  padding:12px;
  border-radius:8px;
  border:1px solid rgba(255,255,255,0.02);
}
.right-col{
  overflow:auto;
}
.panel h3{
  margin:0 0 8px 0;
  font-size:15px;
}
.props{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.major-tab{
  display:flex;
  flex-direction: column;
  gap:5px;
  border-radius:6px;
  /* background:#071827; */
  border:2px solid rgba(255,255,255,0.03);
  padding-top: 10px;
  padding-bottom: 10px;
}
.major-tab > .row > div {
  width: 120px;
}
.major-tab > .row > :nth-child(2):not(input,.btn-group) {
  margin-left: 8px;
}
.major-tab > .row > :first-child {
  display: flex;
  justify-content: right;
}
input {
  width: 200px !important;
  height: 25px;
}
.row{
  display:flex;
  gap:8px;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.btn-group > button {
  border-radius: 0px;
}
.btn-group > button:first-child {
  border-radius: 6px 0px 0px 6px;
}
.btn-group > button:last-child {
  border-radius: 0px 6px 6px 0px;
}
label{
  font-size:12px;
  color:var(--muted);
  display:block;
  margin-bottom:4px;
}
input,select,textarea{
  width:100%;
  padding:8px;
  border-radius:6px;
  background:#071827;
  border:1px solid rgba(255,255,255,0.03);
  color:#dbeafe;
}
.small{
  width:100px;
}
.json-area{
  height:180px;
  resize:vertical;
}
.muted{
  color:var(--muted);
  font-weight:600;
}
footer{
  position:absolute;
  left:12px;
  bottom:12px;
  color:var(--muted);
  font-size:12px;
}
.hide {
  display: none;
}