<html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="static/resource/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/resource/css/fontawesom.all.css">

  <link rel="stylesheet" href="static/custom/css/custom.css">
  
  <script src="/static/resource/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/static/resource/js/popper.min.js"></script>
  <script src="/static/resource/js/bootstrap.min.js"></script>
  <script src="/static/resource/js/jspdf.min.js"></script>
  <script src="/static/resource/js/html2canvas.min.js"></script>
  <script src="/static/resource/js/vue.min.js"></script>
  <script src="/static/resource/js/EQCSS.min.js"></script>
  <script src="/static/resource/js/EQCSS-polyfills.min.js"></script>

  <script src="static/custom/js/loader.js"></script>
  <script src="static/custom/js/controller.js"></script>
  <script src="static/custom/js/main.js"></script>
  <script src="static/resource/js/jose.min.js"></script>
  <script src="static/resource/js/JsBarcode.all.min.js"></script>
  <script src="static/resource/js/ajv.min.js"></script>

</head>
<body>
  <div id="main-workspace">

    <div v-if="enabled" id="page1-workspace">
    </div>

    <div v-if="enabled" id="page2-workspace">
    </div>

    <div v-if="enabled" id="page3-workspace">
    </div>

    <div v-if="enabled" id="page4-workspace">
    </div>

    <div class="auto-loading">
      loading...
    </div>
    
  </div>
</body>
</html>