<div class="container">
  <div class="my-container-page3">
    <div>
      <img class="image-page3" src="assets/images/email.png" alt="email">
    </div>
    <div>
      <input class="form-control" type="email" id="inputEmail"
      placeholder="กรุณาป้อน e-mail เช่น example@gmail.com" required="" autofocus="">
    </div>
  </div>
  <div class="container">
    <button class="button-page3 shadow" value="" onclick="window.location.href='page4.html'">ตกลง</button>
  </div>
  <script>

  </script>
  <p class="label-page3">
    *กรุณาตรวจสอบข้อมูลของท่านให้ถูกต้องก่อนยืนยันการส่ง
  </p>
</div>