<!--ส่วนหัว-->
<div id="page5-banner" class="title-banner d-flex justify-content-center pt-1">
  <div class="d-flex justify-content-center">
    <h3 class="d-none d-sm-none d-md-block">ผลการวัดค่ามวลร่างกาย</h3>
    <h3>&nbsp;</h3>
  </div>
  <div class="title-right-stamp small d-flex flex-column">
    <div>
      Model: TANITA MC-780MA
    </div>

    <!-- <div>
      ID: {{measure.id.value}}
    </div> -->

    <div>
      Date: {{fn.currentDateTime()}}
    </div>
  </div>
</div>

<!-- Hidden report -->
<div id="page5-hidden-report" class="page5-report" style="display: none;">
</div>

<div id="page5-report" class="page5-report">

  <!--ส่วนแสดงข้อมูล แบบ expansion panel(collapsible)-->
  <div
    id="page5-report-container"
    class="
      container v-container justify-content-center align-items-center
      p-3 gap-3
    "
  >
    <!-------------------------------------ข้อมูลทั่วไป--------------------------------------->
    <div id="data-01" class="card w-full">
      <div class="card-header">
        ข้อมูลทั่วไป
      </div>
      <div class="card-body d-flex">

        <div class="d-flex flex-column">

          <div v-if="idmode" class="card-item-row">
            <span>
              <i class="fas fa-code"></i>
            </span>
            <span>ID: </span>
            <span>{{measure.id.value}}</span>
          </div>

          <div class="card-item-row">
            <span>
              <i class="fas fa-user"></i>
            </span>
            <span>ชื่อ: </span>
            <span>{{measure.name}}</span>
          </div>

          <div class="card-item-row">
            <span>
              <i class="fas fa-heartbeat"></i>
            </span>
            <span>อายุ: </span>
            <span>{{measure.age.value}} ปี</span>
          </div>

          <div class="card-item-row">
            <span>
              <i class="fas fa-male"></i>
              <i class="fas fa-arrows-alt-v"></i>
            </span>
            <span>ความสูง: </span>
            <span>{{measure.height.value}} {{measure.height.unit}}</span>
          </div>

          <div class="card-item-row">
            <span>
              <i class="fas fa-tshirt"></i>
            </span>
            <span>น้ำหนักเสื้อผ้า: </span>
            <span>{{measure.clothWeight.value}} {{measure.clothWeight.unit}}</span>
          </div>

          <div class="card-item-row">
            <span>
              <i class="fas fa-dumbbell"></i>
            </span>
            <span>ลักษณะร่างกาย: </span>
            <span>{{(measure.athelete.value == 'standard') ? 'ทั่วไป' : 'นักกีฬา'}}</span>
          </div>

          <div class="card-item-row">
            <span>
              <i class="fas fa-venus-mars"></i>
            </span>
            <span>เพศ: </span>
            <span>{{(measure.gender.value == 'male') ? 'ชาย' : 'หญิง'}}</span>
          </div>

        </div>

      </div>
    </div>

    <!------------------------------------ผลวิเคราะห์รวม------------------------------------>    
    <!-- Detail -->
    <div class="d-flex flex-lg-row flex-md-column flex-sm-column gap-3">
      <!-- Measurement -->
      <div class="tanita-chart">
        <img
          class="image-background tanita-chart-detail-svg"
          src="static/custom/images/dashboard_detail.svg"
          alt="dashboard_detail"
          height="300px"
        >
        <div class="font-weight-bold tanita-chart-detail-body-weight">{{measure.weight.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-detail-body-weight-desire">{{evaluate.weight.suit.word}}</div>
        <div class="font-weight-bold tanita-chart-detail-fat-percent">{{measure.fatPercent.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-detail-fat-mass">{{measure.fatMass.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-detail-muscle-mass">{{measure.muscleMass.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-detail-bone-mass">{{measure.boneMass.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-detail-bmi">{{measure.bmi.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-detail-bmi-desire">{{evaluate.bmi.suit.word}}</div>
        <div class="font-weight-bold tanita-chart-detail-metabolic-age">{{measure.metabolicAge.value}}</div>
      </div>
      <!-- Physique Rating -->
      <div class="tanita-chart">
        <img
          class="image-background"
          src="static/custom/images/dashboard_physique_rating.svg"
          alt="dashboard_detail"
          height="300px"
        >
      </div>
    </div>

    <!------------------------------------ข้อมูลชุดที่ 3--------------------------------------->
    <div class="d-flex flex-lg-row flex-md-column flex-sm-column gap-3">
      <!-- TBW & ECW/TBW -->
      <div class="d-flex flex-column gap-3">
        <!-- TBW -->
        <div class="tanita-chart">
          <img
            class="image-background tanita-chart-tbw-svg"
            src="static/custom/images/dashboard_tbw.svg"
            alt="dashboard_tbw"
            height="60px"
          >
          <div class="font-weight-bold tanita-chart-tbw-kg">{{measure.tbw.value.toFixed(1)}}</div>
          <div class="font-weight-bold tanita-chart-tbw-percent">{{measure.tbwPercent.value.toFixed(1)}}</div>
          <div class="font-weight-bold tanita-chart-tbw-ecw-kg">{{measure.ecw.value.toFixed(1)}}</div>
          <div class="font-weight-bold tanita-chart-tbw-icw-kg">{{measure.icw.value.toFixed(1)}}</div>
        </div>
        <!-- ECW/TBW -->
        <div class="tanita-chart">
          <img
            class="image-background tanita-chart-ecw-tbw-svg"
            src="static/custom/images/dashboard_ecw_tbw.svg"
            alt="dashboard_ecw_tbw"
            height="60px"
          >
          <div class="font-weight-bold tanita-chart-ecwpertbw-percent">{{measure.ecwPercent.value.toFixed(1)}}</div>
          <div class="tanita-chart-ecwpertbw-gauge">
            <div
              v-for="i in 16" :key="i"
              class="tanita-chart-ecwpertbw-gauge-bar"
              :class="{
                'active': (measure.ecwPercent.value - 31.0) > i
              }"
            >
            </div>
          </div>
        </div>
      </div>
      <!-- BMR & VFR -->
      <div class="d-flex flex-column gap-3">
        <!-- BMR -->
        <div class="tanita-chart">
          <img
            class="image-background tanita-chart-bmr-svg"
            src="static/custom/images/dashboard_bmr.svg"
            alt="dashboard_bmr"
            height="60px"
          >
          <div class="font-weight-bold tanita-chart-bmr-kj">{{measure.bmrKJ.value}}</div>
          <div class="font-weight-bold tanita-chart-bmr-kcal">{{measure.bmrKCal.value}}</div>
          <div class="tanita-chart-bmr-gauge">
            <div
              v-for="i in 6" :key="i"
              class="tanita-chart-bmr-gauge-bar tanita-bmr-bar-under"
              :class="{
                'active': measure.bmrScore.value > i
              }"
            >
            </div>
            <div
              v-for="i in 4" :key="i"
              class="tanita-chart-bmr-gauge-bar tanita-bmr-bar-normal"
              :class="{
                'active': measure.bmrScore.value > i+6
              }"
            >
            </div>
            <div
              v-for="i in 6" :key="i"
              class="tanita-chart-bmr-gauge-bar tanita-bmr-bar-more"
              :class="{
                'active': measure.bmrScore.value > i+10
              }"
            >
            </div>
          </div>
        </div>
        <!-- VFR -->
        <div class="tanita-chart">
          <img
            class="image-background tanita-chart-vfr-svg"
            src="static/custom/images/dashboard_vfr.svg"
            alt="dashboard_vfr"
            height="60px"
          >
          <div class="font-weight-bold tanita-chart-vfr-rating">{{measure.vfr.value}}</div>
          <div class="tanita-chart-vfr-gauge">
            <div
              v-for="i in 6" :key="i"
              class="tanita-chart-vfr-gauge-bar tanita-vfr-bar-avg"
              :class="{
                'active': measure.vfr.value > i
              }"
            >
            </div>
            <div
              v-for="i in 4" :key="i"
              class="tanita-chart-vfr-gauge-bar tanita-vfr-bar-high"
              :class="{
                'active': measure.vfr.value > i+6
              }"
            >
            </div>
            <div
              v-for="i in 6" :key="i"
              class="tanita-chart-vfr-gauge-bar tanita-vfr-bar-vhigh"
              :class="{
                'active': measure.vfr.value > i+10
              }"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-------------------------------------ข้อมูลชุดที่ 4--------------------------------------->
    <!-- Muscle & Fat -->
    <div class="d-flex flex-lg-row flex-md-column flex-sm-column gap-3">
      <!-- Muscle -->
      <div class="tanita-chart">
        <img
          class="image-background tanita-chart-muscle-svg"
          src="static/custom/images/dashboard_muscle.svg"
          alt="dashboard_muscle"
          height="334px"
        >
        <div class="font-weight-bold tanita-chart-trunk-muscle-mass">{{measure.trunkMuscleMass.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-arml-muscle-mass">{{measure.armLMuscleMass.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-armr-muscle-mass">{{measure.armRMuscleMass.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-legl-muscle-mass">{{measure.legLMuscleMass.value.toFixed(1)}}</div>
        <div class="font-weight-bold tanita-chart-legr-muscle-mass">{{measure.legRMuscleMass.value.toFixed(1)}}</div>
      </div>
      <!-- Fat -->
      <div class="tanita-chart">
        <img
          class="image-background tanita-chart-fat-svg"
          src="static/custom/images/dashboard_fat.svg"
          alt="dashboard_fat"
          height="334px"
        >
          <div class="font-weight-bold tanita-chart-trunk-fat-percent">{{measure.trunkFatPercent.value.toFixed(1)}}</div>
          <div class="font-weight-bold tanita-chart-arml-fat-percent">{{measure.armLFatPercent.value.toFixed(1)}}</div>
          <div class="font-weight-bold tanita-chart-armr-fat-percent">{{measure.armRFatPercent.value.toFixed(1)}}</div>
          <div class="font-weight-bold tanita-chart-legl-fat-percent">{{measure.legLFatPercent.value.toFixed(1)}}</div>
          <div class="font-weight-bold tanita-chart-legr-fat-percent">{{measure.legRFatPercent.value.toFixed(1)}}</div>

          <div class="font-weight-bold tanita-chart-trunk-fat-mass">{{measure.trunkFatMass.value.toFixed(1)}} {{measure.trunkFatMass.unit}}</div>
          <div class="font-weight-bold tanita-chart-arml-fat-mass">{{measure.armLFatMass.value.toFixed(1)}} {{measure.armLFatMass.unit}}</div>
          <div class="font-weight-bold tanita-chart-armr-fat-mass">{{measure.armRFatMass.value.toFixed(1)}} {{measure.armRFatMass.unit}}</div>
          <div class="font-weight-bold tanita-chart-legl-fat-mass">{{measure.legLFatMass.value.toFixed(1)}} {{measure.legLFatMass.unit}}</div>
          <div class="font-weight-bold tanita-chart-legr-fat-mass">{{measure.legRFatMass.value.toFixed(1)}} {{measure.legRFatMass.unit}}</div>
      </div>
    </div>

  </div>

</div>

<div v-if="debug">
  <pre><code>measure: {{measure}}</code></pre>
  <pre><code>statistic: {{statistic}}</code></pre>
  <pre><code>evaluate: {{evaluate}}</code></pre>
</div>

<!-- <div class="reserve-footer">
</div> -->

<!-- <footer class="page-footer fixed-bottom bg-primary p-2"> -->
<footer class="page-footer bg-primary p-2">

  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button class="btn btn-warning" @click="fn.savePdf('page5-report')">
        <i class="fas fa-file-pdf"></i>
      </button>
      <button class="btn btn-warning" @click="print()">
        <i class="fas fa-print"></i>
      </button>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2020 Copyright:
      <a href=""> NECTEC </a>
    </div>
    <!-- Copyright -->

    <div>
      <button class="btn btn-warning" @click="fn.homePage()">
        <i class="fas fa-home"></i>
      </button>
    </div>
  </div>

</footer>